.about-content {
    margin-top: 111px;
    min-height: 1000px;
}

.about-content .about-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 300px;
}

.about-content .about-intro h1 {
    line-height: 1.5em;
    font-size: 24px;
}

.about-content .about-intro p {
    line-height: 1.67em;
    font-size: 24px;
    font-weight: semi-bold;
    margin-top: 10px;
}

.about-content .about-intro img {
    width: 930px;
    height: 515px;
    object-fit: cover;
    border: 4px solid rgb(98, 98, 98);
}

.about-content .members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.about-content .members .member-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    margin-left: 75px;
    padding: 10px;
}

.about-content .members .member-title h1 {
    font-size: 32px;
    margin-left: 10px;
}

.about-content .members .member-title p {
    width: 80%;
    line-height: 1.6em;
    font-size: 18px;
    text-align: left;
}

.about-content .members .member-intros {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    margin: 10px 50px 50px 0;
    text-align: left;
    overflow: hidden;
}

.about-content .members .member-intros h2 {
    font-size: 24px;;
}

.about-content .members .member-intros p {
    line-height: 1.6em;
    font-size: 16px;
    width: 333px;
}

.about-content .members .member-intros img {
    width: 333px;
    height: 333px;
    object-fit: cover;
}

.about-content .members .member-intros .funtime {
    padding-top: 70px;
}

.about-content .members .member-intros .funtime p {
    font-size: 24px;
    text-align: center;
}