.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1); /* Transparent background */
  padding: 30px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .logo {
  flex: 0 0 150px; /* Fixed size for the logo section */
}

.header .logo a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}

.header .logo a svg {
  width: 32px;
  height: 22px;
}

.header .logo a p {
  font-size: 24px;
  text-decoration: none;
  color: black;
  margin: 4px;
}

.header .nav-links {
  flex: 1; /* Fills the rest of the space */
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header .nav-links a {
  position: relative;
  padding: 0 10px;
  text-decoration: none;
  color: black;
  line-height: 30px;
  font-size: 1.2em;
  font-weight: semi-bold;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #2d2d2d;
  transition:
    width 0.1s ease-in-out,
    left 0.1s ease-in-out;
}

.header .nav-links a:hover {
  color: #033f80;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  position: absolute;
  color: #5a5151;
  top: 20px;
  right: calc(60px + 2vmin);
  z-index: 1000;
}

@media (max-width: 768px) {
  .header .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.88);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50% 20px;
    transform: translateX(0);
    z-index: 999;
  }

  .header .nav-links.open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  .header .nav-links.close {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .header .nav-links a {
    font-size: 1.1em;
    margin: 0 0;
  }

  .menu-button {
    display: block;
  }
}
